@use 'level/color';

.court-card-wrapper {
  position: relative;
}

.card-wrapper {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.card-stack {
  position: relative;
  z-index: 0;
  height: 0;
  top: 10vh;
  transform: rotate(-12deg);
}

.card {
  border-radius: 25px;
  display: block;
  border: 1px solid rgba(#000, .1);
  max-width: 90vw;
  position: relative;
  left: 30px;
}

.card-face {
  transition: opacity .25s ease-out;
}

.court-card-label {
  &, * {
    transition: background-color .4s ease-out;
  }
}

.card-stack-item {
  &.card-enter-active, &.card-exit {
    .card-face {
      opacity: 1;
    }
  }
  &.card-enter, &.card-exit-active {
    .card-face {
      opacity: 0;
    }
  }
}

.card-stack {
  .card-stack-item .card {
    transition: transform .2s ease-out;
  }

  .card-stack-item:not(:first-child) .card {
    position: absolute;
    top: 0;
  }

  @for $card from 1 through 20 {
    $spread: $card * 7px;
    .card-stack-item.card-enter-done:nth-child(#{$card}) .card,
    .card-stack-item.card-exit:nth-child(#{$card}) .card {
      transform: translate(-#{$spread}, #{$spread});
    }
    .card-stack-item:nth-child(#{$card}) .card {
      z-index: 20 - $card;
    }
    [data-theme=black] & .card-stack-item:nth-child(#{$card}) {
      color: darken(white, $card * 5%);
    }
    [data-theme=red] & .card-stack-item:nth-child(#{$card}) {
      color: mix(darkRed, white, $card * 5%);
    }
  }
}

[data-theme=red] {
  .court-card-label {
    background-color: darkRed;
    color: white;
    &-curtain {
      background: darken(darkRed, 13%);
    }
  }
}

[data-theme=black] {
  .court-card-label {
    background-color: #333;
    color: white;
    &-curtain {
      background: #1a1a1a;
    }
  }
}

.court-card-label {
  transform: rotate(-12deg);
  position: fixed;
  left: -24%;
  right: -20%;
  bottom: 18vh;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
  box-shadow:
    0px 0px 2.2px rgba(0, 0, 0, 0.02),
    0px 0px 5.3px rgba(0, 0, 0, 0.028),
    0px 0px 10px rgba(0, 0, 0, 0.035),
    0px 0px 17.9px rgba(0, 0, 0, 0.042),
    0px 0px 33.4px rgba(0, 0, 0, 0.05),
    0px 0px 80px rgba(0, 0, 0, 0.4);

  &-small {
    background: rgba(#fff, .2);
    text-transform: uppercase;
    padding: 15px 0;
    padding-left: 8%;
    font-size: 25px;
    &-text {
      animation: slideInFromLeft .4s ease-out;
    }
  }
  &-large {
    font-size: 80px;
    font-weight: 600;
    letter-spacing: -5px;
    padding: 10px 0;
    &-text {
      animation: slideInFromRight .4s ease-out;
    }
  }
  &-curtain {
    height: 50vh;
    position: absolute;
    bottom: calc(1px - 50vh);
    left: 0;
    right: 0;
  }
}

.prev-card, .next-card {
  display: block;
  position: fixed;
  top: 50px;
  bottom: 50px;
  z-index: 2;
  color: transparent;
  opacity: 0;
  background: #fff;
  cursor: pointer;
}

.prev-card {
  width: 35vw;
  left: 0;
}

.next-card {
  width: 65vw;
  right: 0;
}
