@use 'level/color';

.court-card-wrapper {
  position: relative;
}

.card-base {
  height: 100%;
  border-radius: 25px;
  display: block;
  max-height: 100vh;
  border: 1px solid rgba(#000, .1);
}

.card-wrapper {
  height: 70vh;
  width: 100%;
  position: absolute;
  transform: rotate(-12deg) translate3d(10vh, 60px, 0);
  z-index: 1;
}

.card-slot {
  //transform: translateX(50vw);
  //width: 100px;
  //background: #fff;
}

.card {
  height: 100%;
  position: absolute;
  //transition: transform .2s ease-out, opacity .2s ease-out;
  //transform: translate(14px,24px);
}

.card-face {
  transition: opacity .5s ease-out;
}

.card-enter {
  .card-base {
    transform: translate(14px, 24px);
  }
  .card-face {
    opacity: 0;
  }
}
.card-enter-active {
  .card-base {
    transform: translate(0, 0);
  }
  .card-face {
    opacity: 1;
  }
}

.court-card-label {
  &, * {
    transition: background-color .4s ease-out;
  }
}


.card-stack {
  position: absolute;
  z-index: 0;
  height: 100%;
  .card-base {
    position: absolute;
    transition: color .4s ease-out, transform .2s ease-out;
  }

  [data-index="0"] {
    opacity: 0;
  }

  @for $card from 1 through 20 {
    $spread: ($card - 1) * 7px;
    .card:nth-child(#{$card}) {
      transform: translate(-#{$spread}, #{$spread});
      z-index: 20 - $card;
    }
    [data-theme=black] & .card:nth-child(#{$card}) .card-base {
      color: darken(white, $card * 5%);
    }
    [data-theme=red] & .card:nth-child(#{$card}) .card-base {
      color: mix(darkRed, white, $card * 5%);
    }
  }
}

[data-theme=red] {
  .court-card-label {
    background-color: darkRed;
    color: white;
    &-curtain {
      background: darken(darkRed, 13%);
    }
  }
}

[data-theme=black] {
  .court-card-label {
    background-color: #333;
    color: white;
    &-curtain {
      background: #1a1a1a;
    }
  }
}

.court-card-label {
  transform: rotate(-12deg);
  position: fixed;
  left: -24%;
  right: -20%;
  bottom: 10vh;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
  box-shadow:
    0px 0px 2.2px rgba(0, 0, 0, 0.02),
    0px 0px 5.3px rgba(0, 0, 0, 0.028),
    0px 0px 10px rgba(0, 0, 0, 0.035),
    0px 0px 17.9px rgba(0, 0, 0, 0.042),
    0px 0px 33.4px rgba(0, 0, 0, 0.05),
    0px 0px 80px rgba(0, 0, 0, 0.4);

  &-small {
    background: rgba(#fff, .2);
    text-transform: uppercase;
    padding: 15px 0;
    padding-left: 8%;
    font-size: 25px;
    &-text {
      animation: slideInFromLeft .4s ease-out;
    }
  }
  &-large {
    font-size: 80px;
    font-weight: 600;
    letter-spacing: -5px;
    padding: 10px 0;
    &-text {
      animation: slideInFromRight .4s ease-out;
    }
  }
  &-curtain {
    height: 200px;
    position: absolute;
    bottom: -199px;
    left: 0;
    right: 0;
  }
}

.prev-card, .next-card {
  display: block;
  position: fixed;
  top: 50px;
  bottom: 50px;
  z-index: 2;
  color: transparent;
  opacity: 0;
  background: #fff;
  cursor: pointer;
}

.prev-card {
  width: 35vw;
  left: 0;
}

.next-card {
  width: 65vw;
  right: 0;
}
