@use "level/color";

.deck-settings {
  h1 { text-align: center; }
  button {
    width: 45vw;
  }
}

.deck-settings-court {
  input {
    appearance: none;
    margin: 0;
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
  }

  &-label {
    text-align: right;
    padding-right: 8px;
    width: calc((100vw/6) - 8px);
  }
  &-count {
    min-width: calc(100vw/6);
    padding: .5em 0;
    text-align: center;
    border: 1px solid #333;
    border-radius: 7px;
    cursor: pointer;

    input:checked + & {
      border-color: color.get(blue-600);
      background: color.get(blue-50);
    }
  }

  .add-joker {
    max-width: 50vw;
    margin: 0 auto;
  }
}
